<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/socket.io.js" ></script>
    <script type="text/javascript" src="/javascripts/angular.min.js" ></script>
    <script type="text/javascript" src="/javascripts/main.js" ></script>

  </head>
  <body>
  <div ng-app="app">
      <div ng-controller="ChatController">
          <input ng-model="message" /> <input type="button" ng-click="sendMessage();" value="send">
          <ul>
              <li ng-repeat="message in messages">{{message}}</li>
          </ul>
      </div>
  </div>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
